<% provide(:title, t("about")) %>
<h1><%= t "about" %></h1>
<p>
iTeam production
<br>Framgia E-testing System
<br>Designed by
<a href="http://www.facebook.com/khanhmata.dn">Khanh Mata</a>
(a.k.a Khanh Nguyen) and
<a href="https://www.facebook.com/thaonguyen.tran.7311352">Tran Thao Nguyen</a>.</p>
Specially thanks to Michael Hartl</a>
for the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
Tutorial</em></a>.
