<% provide(:title, t("contact")) %>
<h1><%= t "contact" %></h1>
<p>
  Contact us:
  <br>
  <br>---------------------------------
  <br>
  <br>Mr. Khanh Mata
  <br><a href="http://www.facebook.com/khanhmata.dn">Facebook</a>.
  <br>Phone: <a href="#">096 44 03 444</a>.
  <br>Mail: <a href="#">radnvk@gmail.com</a>.
  <br>Chatwork ID: <a href="#">KhanhMata</a>.
  <br>
  <br>---------------------------------
  <br>
  <br>Mr. Tran Thao Nguyen
  <br><a href="http://www.facebook.com/thaonguyen.tran.7311352">Facebook</a>.
  <br>Phone: <a href="#">096 44 03 444</a>.
  <br>Mail: <a href="#">radnvk@gmail.com</a>.
  <br>Chatwork ID: <a href="#">857585</a>.
</p>
