@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert {
  ul {
    list-style: none;
  }
}

.avatar-frame {
  border: 1px solid #c7b89e;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-new {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  &:hover {
    background-color: #4CAF50;
    color: white;
  }
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  width: 101px;
}
.btn-primarys {
  background:#1AAB8A;
  color:#fff;
  border:none;
  margin-left: -14px;
  margin-top: -27px;
  position: relative;
  height: 38px;
  font-size: 1.5em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.btn-primarys:hover {
  background: #fff;
  color:#1AAB8A;
}
.btn-primarys:before,.btn-primarys:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1AAB8A;
  transition: 400ms ease all;
}
.btn-primarys:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-primarys:hover:before,.btn-primarys:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.navbar-inverse {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #f0f0f0;
  border-color: #bce8f1;
  font-size: 20px;
}
.row {
  font-size: 18px;
}
html {
  font-size: 10px;
  margin-top: -60px;
  -webkit-tap-highlight-color: transparent;
}
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* forms */
.form-group input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


textarea, select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #777;
  font-size: 18px;
}
.exam li {
  position: relative;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.pull-left {
  float: left !important;
  width: 225px;
}
.pull-right {
  float: right !important;
  width: 106px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.days {
  margin-top:-10px;
}
.containe {
  width: 285px;
  height: 144px;
  margin-left: 50px;
  background: #01b388;
  border-radius: 3px;
  border: 1px solid #01b388;
  text-align: center
}

.containe h2 {
  color: #fff;
  font-size: 30px;
  font-family: tahoma;
  padding: 50px 0 20px;
  font-weight: normal
}

.containe .content {
  width: 286px;
  height: 148px;
  margin-left: -2px;
  background: #01b388;
}
.containe .content .hours {
  margin-top: -5px;
}
.containe .content > div {
 display: inline-block;
  margin: 100px 10px 0;
  width: 72px;
  margin-top: 19px;
  height: 105px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  line-height: 150px;
  font-family: tahoma;
  font-size: 55px;
}

.containe .title {
  /*width: ;*/
  height: 50px;
  background: #01b388;
  position: relative
}

.containe .title span {
  display: inline-block;
  width: 140px;
  font-size: 20px;
  font-family: tahoma;
  color: #fff;
  line-height: 50px;
}

