<div class="col-md-10 col-md-offset-1 width-flash">
  <div class="row exam">
    <%= render "exam" %>
    <%= hidden_field_tag :remaining_time, @exam.get_remain_time %>
    <div class="col-md-2 col-md-offset-1 timer">
      <div class="containe">
     <div class="content">
       <div class="hours">0</div>
       <div class="minutes">30</div>
       <div class="seconds">60</div>
     </div>
   </div>
    </div>
  </div>
</div>
